/*Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a783;
  --iconBGColor: #2c2f3f;
  --textColor: #525252;
  --bgColor: #f7f7f7;
}

/* Header */
header {
  height: 100vh;
  width: 300px;
  padding: 15px 30px;
  background: var(--sideBGColor);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  transition: 0.4s;
}

header .profile {
  text-align: center;
  margin: 10px 0;
}

header .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid var(--iconBGColor);
}

header .profile h1 {
  color: white;
  font-weight: 600;
}

header .profile .social-icon a {
  display: inline-block;
  color: white;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 37px;
  font-size: 18px;
  margin: 1.5px;
  border-radius: 50%;
  background: var(--iconBGColor);
  transition: 0.4s;
}

header .profile .social-icon a:hover {
  color: var(--themeColor);
  transform: scale(0.9);
}

/* Navbar */
header nav {
  margin-top: 20px;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  margin: 5px 0;
  color: lightgray;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.6px;
}

header nav ul li a i {
  margin-right: 10px;
  font-size: 18px;
  transition: 0.4s;
}

header nav ul li a:hover i,
header nav ul li .active i {
  color: var(--themeColor);
}

header .footer {
  color: lightgray;
  font-size: 14px;
  background-color: var(--sideBGColor);
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

header .footer p a {
  color: var(--themeColor);
}

/* Mobile Nav Toggle */
#menuBtn {
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background: var(--themeColor);
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  z-index: 99;
  transition: 0.4s;
}

.mobile-nav-active header,
.mobile-nav-active .footer {
  left: 0;
}

/* Main section */
main {
  margin-left: 300px;
  transition: 0.5s;
  background: var(--bgColor);
}

/* Home Section */
#home {
  height: 100vh;
  width: 100%;
  background: url(img/pro1.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;
}

#home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.4;
}

#home .home-row {
  z-index: 1;
}

#home .home-row h1 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 70px;
}

#home .home-row h1 span {
  color: var(--themeColor);
}

#home .home-row p {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 500;
}

#home .home-row p span {
  border-bottom: 4px solid var(--themeColor);
}

/* Media Query */
@media only screen and (max-width: 1050px) {
  header,
  header .footer {
    left: -300px;
  }

  #menuBtn {
    display: block;
  }

  main {
    margin-left: 0;
  }
}

/* mobile */
@media only screen and (max-width: 670px) {
  #home {
    padding: 30px;
  }

  #home .home-row h1 {
    font-size: 35px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    line-height: 50px;
  }

  #home .home-row h1 br {
    display: none;
  }

  #home .home-row p {
    font-size: 20px;
    font-weight: 400;
  }
}
